<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
    <div class="row">
        <h2 style="text-align: center">Food Landmark</h2>
    </div>
</div>
