<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
    <div class="row">
        <h1><a href="https://documenter.getpostman.com/view/1206388/food_cart/6taZjzw">Documentation -  Food Landmark</a></h1>
        <h2>https://documenter.getpostman.com/view/1206388/food_cart/6taZjzw</h2>
    </div>
</div>
